.legendItem {
    border: none;
    background-color: transparent;
    list-style: none;
}

.legendItem:first-of-type {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.legendItem:last-of-type {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.rect-legendIcon {
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 4px;
}

.line-legendIcon {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.circle-legendIcon {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    border: none;
}
